.code{
border:1px solid slateGray;
background:url(../img/code.gif) no-repeat;
background-color:antiqueWhite;
padding:12px;
padding-bottom:2px;
margin:1px;
font-size:12px;
font-weight:normal;
color:black;
}
.demo{
border:1px solid silver;
background:url(../img/demo.gif) no-repeat;
background-color:aliceBlue;
padding:12px;
padding-bottom:2px;
margin:1px;
font-size:12px;
font-weight:normal;
color:black;
}
.jstyle {
background:url(../img/jstyle.gif) no-repeat;
padding-left:80px;
}
.core {
background:url(../img/core.gif) no-repeat;
padding-left:60px;
}
.function {
background:url(../img/function.gif) no-repeat;
padding-left:110px;
}

.synonym {
font-size:16px;
font-weight:bold;
background:url(../img/synonym.gif) no-repeat;
padding-left:90px;
margin-top: 3px;margin-left: 15px;
}

.chapter{
	font-size:18px;
	font-weight:bold;
	background-color:GhostWhite;
	border-bottom:1px solid black;
}
.example{
	font-size:15px;
	font-weight:bold;
	color:Brown;
	padding:2px;
}
.testcode{
	color:DarkRed;
	font-size:13px;
	padding:0px;
}
form{
	margin:2px;
}
#table_conetens{
	font-size:14px;
	font-weight:bold;
	padding-left:20px;margin-left:20px;
}
.table_conetens_item{
list-style-image:none;
list-style-position:outside;
list-style-type:disc;
}
.back_to_table_conetens{
	padding-left:10px;
}
.demo_elment{
	background-color:yellowGreen;display:inline;
}
.definition{
	font-style:italic;font-size:13px;
}
.help{;}

.help_item{font-size:14px;
	font-weight:bold;}